@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.container-todo {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.container-todo h3{
    color: #fff;   
    font-size: 23px;
    font-weight: 500; 
}

.container-todo  .icon {
    margin-left: 10%;
}

.container-todo  .icon i{
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.container-todo .icon i:hover{
    color: red;
}